// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
	overflow: hidden;
	#steps {
		overflow: hidden;
    fieldset.step {
      float:left;
      width:640px;
    }
	}
}

.navigation_multistep {
  margin-top: 15px;
}
